<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.ihavekey.weibo.oauth" 
        version="0.0.0" 
        xmlns="http://apache.org/cordova/ns/plugins/1.0" 
        xmlns:android="http://schemas.android.com/apk/res/android">
  <name>Weibo Connect</name>
  <description>
    Cordova Plugin to connect Weibo via SSO
  </description>

  <preference name="APP_KEY" />
  <preference name="APP_SECRET" />
  <preference name="APP_SCOPE" value="email"/>

  <engines>
    <engine name="cordova" version=">=3.5.0" />
  </engines>

  <js-module name="WeiboConnect" src="www/weibo-connect.js">
    <clobbers target="weibo" />
  </js-module>

  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="WeiboConnect">
        <param name="android-package" value="com.ihavekey.weibo.oauth.Weibo" />
      </feature>
    </config-file>
    <config-file parent="/*" target="res/values/strings.xml">
      <string name="wb_app_key">$APP_KEY</string>
      <string name="wb_app_secret">$APP_SECRET</string>
      <string name="wb_app_scope">$APP_SCOPE</string>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml">
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.READ_PHONE_STATE" />

      <activity android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
                android:configChanges="keyboardHidden|orientation"
                android:windowSoftInputMode="adjustResize"
                android:exported="false" >
      </activity>
    </config-file>
    
    <source-file src="src/android/Weibo.java" target-dir="src/com/ihavekey/weibo/oauth" />
    <source-file src="src/android/weibosdkcore_v3.0.1.jar" target-dir="libs" framework="true" />
    <source-file src="src/android/libs/armeabi/libweibosdkcore.so" target-dir="libs/armeabi" />
    <source-file src="src/android/libs/mips/libweibosdkcore.so" target-dir="libs/mips" />
    <source-file src="src/android/libs/x86/libweibosdkcore.so" target-dir="libs/x86" />
  </platform>
</plugin>